
{% extends "vagtplan/layout.html" %}

{% block navigation %}
<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link active" href="#">Overblik</a>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Sarah</a>
          <a class="dropdown-item" href="#">Joachim</a>
          <a class="dropdown-item" href="#">Person3</a>
        </div>
      </li>
  </nav>
</div>
{% endblock %}


